<?xml version="1.0" encoding="UTF-8"?>
<config>
    <log-file fileName="" />
    <agent type="com.bytecode.config.AgentType.TIME">
        <include package="com.test.service" clazz="Cat" method=""/>
        <include package="com.test.service" clazz="Service" method=""/>
        <include package="com.test" clazz="" method="" />
    </agent>
</config>
