<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!--<time-monitor>
        <excludeFilters>
            <exclude package="" clazz="" method="setNonNullParameter"/>
            <exclude package="" clazz="ProfessionalServiceAccessoryExpiredCleanTimer" method="getAccessoryCreateTime"/>
        </excludeFilters>
        <includeFilters>
            <include package="com.huawei.psm" clazz="" method=""/>
        </includeFilters>
    </time-monitor>-->
    <exception-monitor>
        <!--<excludeFilters>
            <exclude package="com.bytetools.test" clazz="Controller" method="send"/>
            <exclude package="com.bytetools.test" clazz="Controller" method="send"/>
        </excludeFilters>-->
        <includeFilters>
            <include package="com.bytetools.test" clazz="ByteCodeTestMain" method=""/>
        </includeFilters>
    </exception-monitor>
</config>
